header {
	position: relative;
	width: 100%;

	@include small {
		position: absolute;
	}

	.main-nav {
		display: none;

		@include small {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			margin: 0;
			padding: 1em 0;

			li {
				flex: 1;

				a {
					color: $textDark;
					padding: 0.2em;
					font-size: 1.5em;
				}
			}
		}
	}

	.hamburger-menu-top {
		display: block;
		float: right;
		width: 2em;
		height: 2em;
		margin-right: 2em;
		padding-top: 1.5em;

		@include small {
			display: none;
		}
	}

	.main-nav.active {
		position: absolute;
		display: block;
		height: 100vh;
		width: 100%;
		margin-top: 5em;
		padding: 1.8em 0;
		//background-color: #f6d4e2;
		background-color: transparent;

		a {
			display: block;
			padding: 0.8em 0em;
			color: $secondaryDark;
			font-weight: normal;
			text-align: center;
			letter-spacing: 0.4em;
			font-size: 22px;
			text-transform: uppercase;
		}
	}
}
