.hero {
	height: 100vh;
	background-image: /*linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.1) 0%,
			rgba(0, 0, 0, 0.2) 100%
		),*/ url("../images/hero-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.container {
		@include small {
			display: flex;
			align-items: center;
			height: 100vh;
		}
	}

	.hero-text {
		max-width: 200px;

		p {
			font-size: 1.8em;
			font-weight: normal;
			color: #ffffff;
			line-height: 1.2;
			letter-spacing: 4px;
			padding-left: 0.5em;
			padding-top: 0.6em;
			margin: 0;

			@include small {
				font-size: 3em;
				font-weight: 700;
				padding-right: 1.5em;
			}
		}
	}
}
