/* Color Palette*/

$blueLight: rgba(62, 120, 178, 1);
$cobalt: rgba(0, 75, 168, 1);
$grey: rgba(74, 82, 90, 1);
$greyDark: rgba(36, 39, 43, 1);
$black: rgba(7, 7, 10, 1);
$snow: rgba(250, 251, 251, 1);

$accent: $cobalt;
$primary: $blueLight;
$secondaryLight: $grey;
$secondaryDark: $greyDark;
$textDark: $black;
$textLight: $snow;

/*Fonts*/
$mainFont: "Prata", serif;
$headingsFont: "Paytone One", sans-serif;
